@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  background: #eee;
  font-family: 'Ubuntu', sans-serif;
}


a {
  color: #333;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  &:hover{
    color: #379A68;
    text-decoration: none;
  }
}

*, *:hover, *:active, *:focus {
  outline: 0 !important;
}



.container {
  @media (min-width: 768px){
    width: 700px;
  }
  @media (min-width: 992px){
    width: 800px;
  }
  @media (min-width: 1200px){
    width: 800px;
  }
}

#page {
  margin-top: 80px;
}

.border-top {
  border-top: 1px dashed #ddd;
}

.navbar-brand {
  font-size: 24px;
}

.row-no-margin {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

input[type="search"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #379A68;
  -webkit-webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  -moz-webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  -ms-webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  -o-webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);

  -webkit-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
  box-shadow: inset 0 1px 1px rgba(55,154,104,0.5),0 0 8px rgba(55,154,104,0.5);
}

.navbar-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  
  &.active {
    background: #379A68 !important;
  }
}

.navbar-default .navbar-toggle.active .icon-bar {
  background-color: #fff;
}


.custom-pagination {
  margin: 5px 0 20px 0;

  a, span {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    background: #fff;
    margin-right: 5px;
    border: 2px solid #379A68;
    &.current {
      background: #379A68 !important;
      color: #fff;
    }
  }
}


#footer {
  .site-info {
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    margin-bottom: 15px;
    a {
      display: block;
      text-align: center;
      margin: 10px 0;
      font-size: 14px;
      font-weight: 600;
      @media(min-width: 560px){
        display: inline-block;
        text-align: left;
        margin: 0 10px 0 0;
      }
    }
  }
}