
.header-sticky {
  position: fixed;
  display: block;
  background: #fff;
  top: 0;
  z-index: 99;
  width: 100%;
  @media (min-width: 768px){
    width: 700px;
  }
  @media (min-width: 992px){
    width: 800px;
  }

}

.navbar-header {
  .toggle_menu {
    @media (min-width: 768px){
      display: none !important;
    }
  }
}

.navbar-nav {
  margin: 0;
}


.toggle_menu {
  margin-right: 0;
  @media (min-width: 768px){
    display: block !important;
  }
  font-weight: 600;
  &.active {
    background: #f3f3f3;
  }
}


#menu_container {
  padding-top: 10px;
  padding-bottom: 10px;

  .menu-wrap {
    padding-top: 15px;
  }
}

#parties_wrap {
  margin: 15px 0;
  a {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  span {
    margin-right: 5px;
    &:last-child{
      display: none;
    }
  }
}