

article  {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}


header.entry-header {
  display: block;
  position: relative;
  width: 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.entry-content {
  display: block;
  position: relative;
  width: 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.person-photo {
  display: inline-block;
  padding-right: 15px;
  img {

  }
}

.person-info {
  display: inline-block;
}

.person-title {
  display: block;
}

.post-categories {
  display: block;
}

.promise_header {
  width: 100%;
  display: block;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }


  .person_photo {
    display: inline-block;
    float: left;
  }

  .head_info {
    display: inline-block;
    float: left;
    margin-left: 15px;
    .name {
      font-size: 16px;
    }
  }
  
  .promise_source {
    a {
      font-size: 10px;
      color: #777;
      margin-right: 10px;
    }
  }

}

.promise_body {
  width: 100%;
  display: block;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  .promise_text {
    p {
      margin: 0;
      padding:  15px 0;
      font-size: 20px;
    }
  }

}

.video_trigger {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

.promise_video {
  display: none;
  margin-top: 20px;
  &.video-inner {
    display: block;
  }
  iframe {
    width: 100%;
  }
}

.promise_status {
  display: block;
  position: relative;
  background: #fff;
  margin: 0 -15px -15px;
  padding: 5px 15px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  a {
    display: block;
    color: #fff;
  }

  &.status_1 {
    background: #777;
  }
  &.status_2 {
    background: #E02F2F;
  }
  &.status_3 {
    background: #2F82E0;
  }
  &.status_4 {
    background: #00D32D;
  }

}


.search-results {
  article {
    h2 {
      margin: 0;
    }
  }
}